<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/subbudatta/index.json" />
        <add key="svp" value="https://nuget.pkg.github.com/subbudatta/samplerepo/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="subbudatta" />
            <add key="ClearTextPassword" value="17c41449fc6a653889ab783ec6fe577956db2d34" />
        </github>
    </packageSourceCredentials>
</configuration>